[submodule "external/googletest"]
    path = cuML/external/googletest
    url = https://github.com/google/googletest
[submodule "external/cutlass"]
    path = cuML/external/cutlass
    url = https://github.com/teju85/cutlass.git
    branch = v0.1-customizations
[submodule "external/ml-prims"]
    path = external/ml-prims
    url = ssh://git@gitlab-master.nvidia.com:12051/RAPIDS/ml-prims.git
