## python raft symlink
python/cuml/raft

## common
__pycache__
*.pyc
*~
\#*
.#*
*.o
*.so
*.dylib
.cache
.coverage*
.vscode
*.swp
*.pytest_cache
htmlcov
build/
build_prims/
cmake-build*
cuml.egg-info/
dist/
python/cuml/**/*.cpp
python/_external_repositories
python/record.txt
log
.ipynb_checkpoints
.DS_Store
dask-worker-space/
tmp/
.hypothesis
wheels/
wheelhouse/
_skbuild/
junit-*.xml


## files pickled in notebook when ran during python docstring generation
docs/source/*.model
docs/source/*.pkl
docs/source/*.tl

## eclipse
.project
.cproject
.settings
.ptp-sync-folder

## Pycharm
.idea

## ccls
.ccls-cache
.ccls

## profiling
*.qdrep
*.qdrep.cache
*.qdstrm
*.nvprof

## doxygen build check inside ci/checks/style.sh
doxygen_check/

## Doxygen
cpp/html
cpp/Doxyfile

# clang tooling
compile_commands.json
.clangd/

# generally prefer 'pyproject.toml' to 'pytest.ini' for pytest options
# ref: https://github.com/rapidsai/cuml/pull/6201
pytest.ini
!python/cuml/cuml/benchmark/automated/pytest.ini
!python/cuml/cuml_accel_tests/upstream/pytest.ini

# testing
python/cuml/cuml_accel_tests/upstream/umap/umap-upstream
