## common
__pycache__
*.pyc
*.o
*.so
*.dylib
.cache
.coverage
.vscode
*.swp
*.pytest_cache
htmlcov
build/
build_prims/
cuml.egg-info/
dist/
python/cuml/**/*.cpp
log
.ipynb_checkpoints
.DS_Store

## eclipse
.project
.cproject
.settings
.ptp-sync-folder

## Pycharm
.idea
thirdparty/cuml/faiss/
thirdparty/cuml/googletest/
thirdparty/h2o4gpu/
thirdparty/ml-prims/cub/
thirdparty/ml-prims/googletest/
thirdparty/ml-prims/cutlass/
