## common
__pycache__
*.pyc
*.o
*.so
*.dylib
.cache
.coverage
.vscode
*.swp
*.pytest_cache
htmlcov
build/
cuml.egg-info/
dist/
python/cuml/**/*.cpp
log
.ipynb_checkpoints
.DS_Store

## eclipse
.project
.cproject
.settings
.ptp-sync-folder

## Pycharm
.idea
