/* This contains code with copyright by the scikit-learn project, subject to
the license in /thirdparty/LICENSES/LICENSE.scikit_learn */

/* copybutton */
/* Adds "Show/Hide Output" button to Examples */

.copybutton {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid rgb(221, 221, 221);
  color: rgb(221, 221, 221);
  font-family: monospace;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

div.highlight:hover span.copybutton::after {
  background: #3F556B;
  border-radius: 0.25rem;
  color: white;
  content: attr(title);
  padding: 0.25rem;
  position: absolute;
  z-index: 98;
  width: 100px;
  font-size: 0.7rem;
  top: 0;
  right: 0;
}

/* copy buttonn */
div.highlight:hover span.copybutton {
  background-color: #3F556B;
  color: white;
}

div.highlight:hover span.copybutton:hover {
  background-color: #20252B;
}

