# Copyright (c) 2018-2023, NVIDIA CORPORATION.

[flake8]
filename = *.py, *.pyx, *.pxd
exclude =
   *.egg,
   .git,
   __pycache__,
   _thirdparty,
   build/,
   cpp,
   docs,
   thirdparty,
   versioneer.py

# Cython Rules ignored:
# E999: invalid syntax (works for Python, not Cython)
# E225: Missing whitespace around operators (breaks cython casting syntax like <int>)
# E226: Missing whitespace around arithmetic operators (breaks cython pointer syntax like int*)
# E227: Missing whitespace around bitwise or shift operator (Can also break casting syntax)
# W503: line break before binary operator (breaks lines that start with a pointer)
# W504: line break after binary operator (breaks lines that end with a pointer)

extend-ignore =
    # handled by black
    E501, W503, E203
    # redefinition of unused
    F811

per-file-ignores =
    # imported but unused
    __init__.py: F401
    # TODO: Identify root cause. I susped that we used pycodestyle<2.9.0
    # previously, which means E275 was not previously caught this extensively.
    *.py: E275
    # TOOD: Identify root cause for why this new ignore switch is needed.
    batched_lbfgs.py: E501
    # Cython Exclusions
    *.pyx: E999, E225, E226, E227, W503, W504
    *.pxd: E999, E225, E226, E227, W503, W504
