name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - checks
      - clang-tidy
      - conda-cpp-build
      - conda-cpp-tests
      - conda-cpp-checks
      - conda-python-build
      - conda-python-tests-singlegpu
      - conda-python-tests-dask
      - conda-notebook-tests
      - docs-build
      - wheel-build-cuml
      - wheel-tests-cuml
      - devcontainer
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@cuda-12.5.1
  checks:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@cuda-12.5.1
    with:
      enable_check_generated_files: false
      ignored_pr_jobs: >-
        optional-job-conda-python-tests-cudf-pandas-integration
  clang-tidy:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      node_type: "cpu8"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:cuda11.8.0-ubuntu22.04-py3.10"
      run_script: "ci/run_clang_tidy.sh"
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@cuda-12.5.1
    with:
      build_type: pull-request
  conda-cpp-tests:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@cuda-12.5.1
    with:
      build_type: pull-request
  conda-cpp-checks:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-post-build-checks.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      enable_check_symbols: true
      symbol_exclusions: raft_cutlass
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@cuda-12.5.1
    with:
      build_type: pull-request
  conda-python-tests-singlegpu:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      script: "ci/test_python_singlegpu.sh"
  optional-job-conda-python-tests-cudf-pandas-integration:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@cuda-12.5.1
    with:
      matrix_filter: map(select(.ARCH == "amd64"))
      build_type: pull-request
      script: "ci/test_python_integration.sh"
  conda-python-tests-dask:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      script: "ci/test_python_dask.sh"
  conda-notebook-tests:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      node_type: "gpu-v100-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:latest"
      run_script: "ci/test_notebooks.sh"
  docs-build:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      node_type: "gpu-v100-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:latest"
      run_script: "ci/build_docs.sh"
  wheel-build-cuml:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      script: ci/build_wheel.sh
      extra-repo: rapidsai/cumlprims_mg
      extra-repo-sha: branch-24.08
      extra-repo-deploy-key: CUMLPRIMS_SSH_PRIVATE_DEPLOY_KEY
  wheel-tests-cuml:
    needs: wheel-build-cuml
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@cuda-12.5.1
    with:
      build_type: pull-request
      script: ci/test_wheel.sh
  devcontainer:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/build-in-devcontainer.yaml@cuda-12.5.1
    with:
      arch: '["amd64"]'
      cuda: '["12.5"]'
      extra-repo-deploy-key: CUMLPRIMS_SSH_PRIVATE_DEPLOY_KEY
      build_command: |
        sccache -z;
        build-all --verbose;
        sccache -s;
