name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Please keep pr-builder as the top job here
  pr-builder:
    needs:
      - clang-tidy
      - conda-cpp-build
      - conda-cpp-tests
      - conda-cpp-checks
      - conda-python-build
      - conda-python-tests-singlegpu
      - conda-python-tests-dask
      - conda-python-scikit-learn-accel-tests
      - conda-notebook-tests
      - docs-build
      - telemetry-setup
      - wheel-build-libcuml
      - wheel-build-cuml
      - wheel-tests-cuml
      - wheel-tests-cuml-dask
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@gh-token-override
    if: always()
    with:
      needs: ${{ toJSON(needs) }}
  telemetry-setup:
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
        OTEL_SERVICE_NAME: "pr-cuml"
    steps:
      - name: Telemetry setup
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-base-env-vars@main
  check-nightly-ci:
    # Switch to ubuntu-latest once it defaults to a version of Ubuntu that
    # provides at least Python 3.11 (see
    # https://docs.python.org/3/library/datetime.html#datetime.date.fromisoformat)
    runs-on: ubuntu-24.04
    env:
      RAPIDS_GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check if nightly CI is passing
        uses: rapidsai/shared-actions/check_nightly_success/dispatch@main
        with:
          repo: cuml
  clang-tidy:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@gh-token-override
    with:
      build_type: pull-request
      node_type: "cpu8"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:cuda11.8.0-ubuntu22.04-py3.10"
      script: "ci/run_clang_tidy.sh"
      alternative-gh-token-secret-name: GH_TOKEN_CUMLPRIMS_MG
  conda-cpp-build:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@gh-token-override
    with:
      build_type: pull-request
      script: ci/build_cpp.sh
      alternative-gh-token-secret-name: GH_TOKEN_CUMLPRIMS_MG
  conda-cpp-tests:
    needs: [conda-cpp-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@gh-token-override
    with:
      build_type: pull-request
      script: ci/test_cpp.sh
      alternative-gh-token-secret-name: GH_TOKEN_CUMLPRIMS_MG
  conda-cpp-checks:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-post-build-checks.yaml@gh-token-override
    with:
      build_type: pull-request
      enable_check_symbols: true
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@gh-token-override
    with:
      build_type: pull-request
      script: ci/build_python.sh
      alternative-gh-token-secret-name: GH_TOKEN_CUMLPRIMS_MG
  conda-python-tests-singlegpu:
    needs: [conda-python-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@gh-token-override
    with:
      build_type: pull-request
      script: "ci/test_python_singlegpu.sh"
      alternative-gh-token-secret-name: GH_TOKEN_CUMLPRIMS_MG
  optional-job-conda-python-tests-cudf-pandas-integration:
    needs: [conda-python-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@gh-token-override
    with:
      # Select the amd64 entry with the highest CUDA and Python version
      matrix_filter: map(select(.ARCH=="amd64")) | [max_by([.CUDA_VER,.PY_VER]|map(split(".")|map(tonumber)))]
      build_type: pull-request
      script: "ci/test_python_integration.sh"
      alternative-gh-token-secret-name: GH_TOKEN_CUMLPRIMS_MG
  conda-python-tests-dask:
    needs: [conda-python-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@gh-token-override
    with:
      build_type: pull-request
      script: "ci/test_python_dask.sh"
      alternative-gh-token-secret-name: GH_TOKEN_CUMLPRIMS_MG
  conda-python-scikit-learn-accel-tests:
    needs: [conda-python-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@gh-token-override
    with:
      build_type: pull-request
      script: "ci/test_python_scikit_learn_tests.sh"
      # One run for each dependencies config on amd64, breaking ties by highest Python version
      matrix_filter: map(select(.ARCH == "amd64")) | sort_by(.PY_VER) | unique_by(.DEPENDENCIES)
      alternative-gh-token-secret-name: GH_TOKEN_CUMLPRIMS_MG
  conda-notebook-tests:
    needs: [conda-python-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@gh-token-override
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:latest"
      script: "ci/test_notebooks.sh"
      alternative-gh-token-secret-name: GH_TOKEN_CUMLPRIMS_MG
  docs-build:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@gh-token-override
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:latest"
      script: "ci/build_docs.sh"
      alternative-gh-token-secret-name: GH_TOKEN_CUMLPRIMS_MG
  wheel-build-libcuml:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@gh-token-override
    with:
      build_type: pull-request
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      script: ci/build_wheel_libcuml.sh
      extra-repo: rapidsai/cumlprims_mg
      extra-repo-sha: branch-25.08
      extra-repo-deploy-key: CUMLPRIMS_SSH_PRIVATE_DEPLOY_KEY
      # build for every combination of arch and CUDA version, but only for the latest Python
      matrix_filter: group_by([.ARCH, (.CUDA_VER|split(".")|map(tonumber)|.[0])]) | map(max_by(.PY_VER|split(".")|map(tonumber)))
      package-name: libcuml
      package-type: cpp
      alternative-gh-token-secret-name: GH_TOKEN_CUMLPRIMS_MG
  wheel-build-cuml:
    needs: [wheel-build-libcuml]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@gh-token-override
    with:
      build_type: pull-request
      script: ci/build_wheel_cuml.sh
      package-name: cuml
      package-type: python
      alternative-gh-token-secret-name: GH_TOKEN_CUMLPRIMS_MG
  wheel-tests-cuml:
    needs: [wheel-build-cuml]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@gh-token-override
    with:
      build_type: pull-request
      script: ci/test_wheel.sh
      alternative-gh-token-secret-name: GH_TOKEN_CUMLPRIMS_MG
  wheel-tests-cuml-dask:
    needs: [wheel-build-cuml]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@gh-token-override
    with:
      build_type: pull-request
      script: ci/test_wheel_dask.sh
      alternative-gh-token-secret-name: GH_TOKEN_CUMLPRIMS_MG

  telemetry-summarize:
    # This job must use a self-hosted runner to record telemetry traces.
    runs-on: linux-amd64-cpu4
    needs: pr-builder
    if: ${{ vars.TELEMETRY_ENABLED == 'true' && !cancelled() }}
    continue-on-error: true
    steps:
      - name: Telemetry summarize
        uses: rapidsai/shared-actions/telemetry-dispatch-summarize@main
