name: pr
on:
  push:
    branches:
      - "pull-request/[0-9]+"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  # Please keep pr-builder as the top job here
  pr-builder:
    needs:
      - check-nightly-ci
      - changed-files
      - checks
      - clang-tidy
      - conda-cpp-build
      - conda-cpp-tests
      - conda-cpp-checks
      - conda-python-build
      - conda-python-tests-singlegpu
      - conda-python-tests-dask
      - conda-python-tests-cudf-pandas-integration
      - conda-python-scikit-learn-accel-tests
      - conda-python-cuml-accel-upstream-tests
      - conda-notebook-tests
      - docs-build
      - telemetry-setup
      - wheel-build-libcuml
      - wheel-build-cuml
      - wheel-tests-cuml
      - wheel-tests-cuml-dask
      - devcontainer
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@main
    if: always()
    with:
      needs: ${{ toJSON(needs) }}
  telemetry-setup:
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
      OTEL_SERVICE_NAME: "pr-cuml"
    steps:
      - name: Telemetry setup
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-base-env-vars@main
  check-nightly-ci:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      id-token: write
    env:
      GH_TOKEN: ${{ github.token }}
      SHARED_ACTIONS_REF: 'check-nightly-success'
    steps:
      - name: Get PR Info
        id: get-pr-info
        uses: nv-gha-runners/get-pr-info@main
      - name: Check if nightly CI is passing
        uses: rapidsai/shared-actions/check_nightly_success/dispatch@check-nightly-success
        with:
          repo: ${{ github.repository }}
          target-branch: ${{ fromJSON(steps.get-pr-info.outputs.pr-info).base.ref }}
          max-days-without-success: 14
  changed-files:
    secrets: inherit
    needs: telemetry-setup
    uses: rapidsai/shared-workflows/.github/workflows/changed-files.yaml@main
    with:
      files_yaml: |
        build_docs:
          - '**'
          - '!**/*/agents.md'
          - '!.coderabbit.yaml'
          - '!.devcontainer/**'
          - '!.git-blame-ignore-revs'
          - '!.github/CODEOWNERS'
          - '!.github/ISSUE_TEMPLATE/**'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/new-issues-to-triage-projects.yml'
          - '!.github/workflows/pr_assign_author.yml'
          - '!.github/workflows/pr_issue_status_automation.yml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/test_notebooks.sh'
          - '!ci/test_python*.sh'
          - '!ci/test_wheel*.sh'
          - '!codecov.yml'
        test_cpp:
          - '**'
          - '!**/*/agents.md'
          - '!.coderabbit.yaml'
          - '!.devcontainer/**'
          - '!.git-blame-ignore-revs'
          - '!.github/CODEOWNERS'
          - '!.github/ISSUE_TEMPLATE/**'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/new-issues-to-triage-projects.yml'
          - '!.github/workflows/pr_assign_author.yml'
          - '!.github/workflows/pr_issue_status_automation.yml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!BUILD.md'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/build_docs.sh'
          - '!ci/build_python.sh'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/notebooks/**'
          - '!ci/release/update-version.sh'
          - '!ci/test_notebooks.sh'
          - '!ci/test_python*.sh'
          - '!ci/test_wheel*.sh'
          - '!docs/**'
          - '!img/**'
          - '!notebooks/**'
          - '!python/**'
          - '!thirdparty/LICENSES/**'
          - '!wiki/**'
        test_notebooks:
          - '**'
          - '!**/*/agents.md'
          - '!.coderabbit.yaml'
          - '!.devcontainer/**'
          - '!.git-blame-ignore-revs'
          - '!.github/CODEOWNERS'
          - '!.github/ISSUE_TEMPLATE/**'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/new-issues-to-triage-projects.yml'
          - '!.github/workflows/pr_assign_author.yml'
          - '!.github/workflows/pr_issue_status_automation.yml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!BUILD.md'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/test_wheel*.sh'
          - '!ci/validate_wheel.sh'
          - '!cpp/.clang-format'
          - '!cpp/.clang-tidy'
          - '!cpp/Doxyfile.in'
          - '!cpp/README.md'
          - '!cpp/header.html'
          - '!thirdparty/LICENSES/**'
          - '!wiki/**'
        test_python_conda:
          - '**'
          - '!**/*/agents.md'
          - '!.coderabbit.yaml'
          - '!.devcontainer/**'
          - '!.git-blame-ignore-revs'
          - '!.github/CODEOWNERS'
          - '!.github/ISSUE_TEMPLATE/**'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/new-issues-to-triage-projects.yml'
          - '!.github/workflows/pr_assign_author.yml'
          - '!.github/workflows/pr_issue_status_automation.yml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!BUILD.md'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run_clang_tidy.sh'
          - '!ci/run_ctests.sh'
          - '!ci/test_wheel*.sh'
          - '!ci/validate_wheel.sh'
          - '!cpp/.clang-format'
          - '!cpp/.clang-tidy'
          - '!cpp/Doxyfile.in'
          - '!cpp/README.md'
          - '!cpp/header.html'
          - '!docs/**'
          - '!img/**'
          - '!notebooks/**'
          - '!thirdparty/LICENSES/**'
          - '!wiki/**'
        test_python_wheels:
          - '**'
          - '!**/*/agents.md'
          - '!.coderabbit.yaml'
          - '!.devcontainer/**'
          - '!.git-blame-ignore-revs'
          - '!.github/CODEOWNERS'
          - '!.github/ISSUE_TEMPLATE/**'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/new-issues-to-triage-projects.yml'
          - '!.github/workflows/pr_assign_author.yml'
          - '!.github/workflows/pr_issue_status_automation.yml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!BUILD.md'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/build_cpp.sh'
          - '!ci/build_python.sh'
          - '!ci/check_style.sh'
          - '!ci/notebooks/**'
          - '!ci/release/update-version.sh'
          - '!ci/run_clang_tidy.sh'
          - '!ci/run_tests.sh'
          - '!ci/test_cpp.sh'
          - '!ci/test_notebooks.sh'
          - '!ci/test_python*.sh'
          - '!conda/**'
          - '!cpp/.clang-format'
          - '!cpp/.clang-tidy'
          - '!cpp/Doxyfile.in'
          - '!cpp/README.md'
          - '!cpp/header.html'
          - '!docs/**'
          - '!img/**'
          - '!notebooks/**'
          - '!thirdparty/LICENSES/**'
          - '!wiki/**'
  checks:
    secrets: inherit
    needs: telemetry-setup
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@main
    with:
      enable_check_generated_files: false
      ignored_pr_jobs: >-
        telemetry-summarize
  clang-tidy:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    with:
      build_type: pull-request
      node_type: "cpu8"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:26.04-latest"
      script: "ci/run_clang_tidy.sh"
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu16
      script: ci/build_cpp.sh
  conda-cpp-tests:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    with:
      build_type: pull-request
      script: ci/test_cpp.sh
  conda-cpp-checks:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-post-build-checks.yaml@main
    with:
      build_type: pull-request
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@main
    with:
      build_type: pull-request
      script: ci/build_python.sh
      # Build a conda package for each CUDA x ARCH x minimum supported Python version
      matrix_filter: group_by({CUDA_VER, ARCH}) | map(min_by(.PY_VER | split(".") | map(tonumber)))
  conda-python-tests-singlegpu:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python_conda
    with:
      build_type: pull-request
      script: "ci/test_python_singlegpu.sh"
  conda-python-tests-cudf-pandas-integration:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python_conda
    with:
      # Select the amd64 entry with the highest CUDA and Python version
      matrix_filter: map(select(.ARCH=="amd64")) | [max_by([.CUDA_VER,.PY_VER]|map(split(".")|map(tonumber)))]
      build_type: pull-request
      script: "ci/test_python_integration.sh"
  conda-python-tests-dask:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python_conda
    with:
      build_type: pull-request
      script: "ci/test_python_dask.sh"
  conda-python-scikit-learn-accel-tests:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python_conda
    with:
      build_type: pull-request
      script: "ci/test_python_scikit_learn_tests.sh"
      # One run for each dependencies config on amd64, breaking ties by highest Python version
      matrix_filter: '(
        map(select(.ARCH == "amd64"))
        | sort_by(.PY_VER)
        | unique_by(.DEPENDENCIES)
      )
        +
      (
        map(select(.ARCH == "amd64"))
        | map(select(.DEPENDENCIES == "oldest"))
        | sort_by(.PY_VER)
        | map(.DEPENDENCIES = "intermediate")
      )'
  conda-python-cuml-accel-upstream-tests:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python_conda
    with:
      build_type: pull-request
      script: "ci/test_python_cuml_accel_upstream.sh"
      # One run for each dependencies config on amd64, breaking ties by highest Python version
      matrix_filter: map(select(.ARCH == "amd64")) | sort_by(.PY_VER) | unique_by(.DEPENDENCIES)
  conda-notebook-tests:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_notebooks
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:26.04-latest"
      script: "ci/test_notebooks.sh"
  docs-build:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).build_docs
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:26.04-latest"
      script: "ci/build_docs.sh"
  wheel-build-libcuml:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: pull-request
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      node_type: cpu16
      script: ci/build_wheel_libcuml.sh
      # build for every combination of arch and CUDA version, but only for the latest Python
      matrix_filter: group_by([.ARCH, (.CUDA_VER|split(".")|map(tonumber)|.[0])]) | map(max_by(.PY_VER|split(".")|map(tonumber)))
      package-name: libcuml
      package-type: cpp
  wheel-build-cuml:
    needs: [checks, wheel-build-libcuml]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu8
      script: ci/build_wheel_cuml.sh
      package-name: cuml
      package-type: python
      # Build a wheel for each CUDA x ARCH x minimum supported Python version
      matrix_filter: group_by({CUDA_VER, ARCH}) | map(min_by(.PY_VER | split(".") | map(tonumber)))
  wheel-tests-cuml:
    needs: [wheel-build-cuml, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python_wheels
    with:
      build_type: pull-request
      script: ci/test_wheel.sh
  wheel-tests-cuml-dask:
    needs: [wheel-build-cuml, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python_wheels
    with:
      build_type: pull-request
      script: ci/test_wheel_dask.sh
  devcontainer:
    needs: telemetry-setup
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/build-in-devcontainer.yaml@main
    with:
      arch: '["amd64", "arm64"]'
      cuda: '["13.1"]'
      node_type: "cpu8"
      env: |
        SCCACHE_DIST_MAX_RETRIES=inf
        SCCACHE_SERVER_LOG=sccache=debug
        SCCACHE_DIST_FALLBACK_TO_LOCAL_COMPILE=false
      build_command: |
        sccache --zero-stats;
        build-all -j0 --verbose -DBUILD_TESTS=ON -DBUILD_BENCHMARKS=ON 2>&1 | tee telemetry-artifacts/build.log;
        sccache --show-adv-stats | tee telemetry-artifacts/sccache-stats.txt;
  telemetry-summarize:
    # This job must use a self-hosted runner to record telemetry traces.
    runs-on: linux-amd64-cpu4
    needs: pr-builder
    if: ${{ vars.TELEMETRY_ENABLED == 'true' && !cancelled() }}
    continue-on-error: true
    steps:
      - name: Telemetry summarize
        uses: rapidsai/shared-actions/telemetry-dispatch-summarize@main
    env:
      GH_TOKEN: ${{ github.token }}
