name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - checks
      - clang-tidy
      - conda-cpp-build
      - conda-cpp-tests
      - conda-python-build
      - conda-python-tests-singlegpu
      - conda-python-tests-dask
      - conda-notebook-tests
      - docs-build
      - wheel-build-cuml
      - wheel-tests-cuml
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/pr-builder.yaml@branch-23.10
  checks:
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/checks.yaml@branch-23.10
    with:
      enable_check_generated_files: false
  clang-tidy:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/custom-job.yaml@branch-23.10
    with:
      build_type: pull-request
      node_type: "cpu8"
      arch: "amd64"
      container_image: "rapidsai/ci:latest"
      run_script: "ci/run_clang_tidy.sh"
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-cpp-build.yaml@branch-23.10
    with:
      build_type: pull-request
  conda-cpp-tests:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-cpp-tests.yaml@branch-23.10
    with:
      build_type: pull-request
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-python-build.yaml@branch-23.10
    with:
      build_type: pull-request
  conda-python-tests-singlegpu:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-python-tests.yaml@branch-23.10
    with:
      build_type: pull-request
      test_script: "ci/test_python_singlegpu.sh"
  conda-python-tests-dask:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-python-tests.yaml@branch-23.10
    with:
      build_type: pull-request
      test_script: "ci/test_python_dask.sh"
  conda-notebook-tests:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/custom-job.yaml@branch-23.10
    with:
      build_type: pull-request
      node_type: "gpu-v100-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci:latest"
      run_script: "ci/test_notebooks.sh"
  docs-build:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/custom-job.yaml@branch-23.10
    with:
      build_type: pull-request
      node_type: "gpu-v100-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci:latest"
      run_script: "ci/build_docs.sh"
  wheel-build-cuml:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-build.yaml@branch-23.10
    with:
      build_type: pull-request
      script: ci/build_wheel.sh
      extra-repo: rapidsai/cumlprims_mg
      extra-repo-sha: branch-23.02
      extra-repo-deploy-key: CUMLPRIMS_SSH_PRIVATE_DEPLOY_KEY
  wheel-tests-cuml:
    needs: wheel-build-cuml
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-test.yaml@branch-23.10
    with:
      build_type: pull-request
      script: ci/test_wheel.sh
